body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
p {
  opacity: 0.7;
  text-align: justify;
}
.big-letter {
  font-size: 50px;
}
.tag-color {
  color: #7030a0;
}
.tag-h1-color {
  color: #ffc000;
}
.flexible-container {
  display: flex;
  padding-bottom: 150px;
}
.half-width {
  width: 50%;
  padding: 0% 1%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  padding: 10px 40px;
  color: #ffffff;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-weight: 700;
  border-radius: 10px;
}
.goat-images img {
  width: 310px;
  box-shadow: -6px -11px 15px 0px grey;
  margin: 23px;
  height: 307px;
  border: solid 10px;
  border-image: linear-gradient(blue, cyan) 20;
}
.goat-gallery-title {
  text-align: center;
  margin-right: 400px;
  margin-left: 400px;
  margin-bottom: 100px;
  font-weight: 300;
  color: white;
  border-radius: 5px;
  text-transform: capitalize;
  background: rgb(45, 191, 221);
  background: linear-gradient(
    153deg,
    rgba(45, 191, 221, 1) 52%,
    rgba(9, 9, 121, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
}
.top-banner {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.second-right-banner {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.third-banner-left {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.goat-story-area {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.goat-story {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 50px gray;
  padding: 15px;
  border-radius: 8px;
}
#left-border {
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato) 20;
}
#right-border {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan) 20;
}
.text-align {
  text-align: center;
}
.link-button-story2 {
  background: rgb(26, 106, 139);
  background: linear-gradient(
    153deg,
    rgba(26, 106, 139, 1) 13%,
    rgba(45, 191, 221, 1) 41%,
    rgba(2, 0, 36, 1) 100%,
    rgba(9, 9, 121, 1) 100%
  );
  color: white;
  padding: 5px 20px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 7px;
}
.link-button-story1 {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  padding: 5px 20px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 7px;
}
footer p {
  text-align: center;
}
